In [9]:
# for database connections
import sqlalchemy
from sqlalchemy import create_engine, inspect, text

# data
import pandas as pd

In [10]:
SQL_USERNAME = "postgres"
SQL_PASSWORD = "aguascalientes9808"
SQL_IP = "localhost"
PORT = 5432
DATABASE = "crowdfunding_db"

In [11]:
connection_string = f"postgresql+psycopg2://{SQL_USERNAME}:{SQL_PASSWORD}@{SQL_IP}:{PORT}/{DATABASE}"
engine = create_engine(connection_string)

In [12]:
# explore and understand the data

# Create the inspector and connect it to the engine
inspector = inspect(engine)

In [13]:
df = pd.read_csv("Resources/category.csv")
df.head()

   category_id      category
0            1          food
1            2         music
2            3    technology
3            4       theater
4            5  film & video

In [14]:
df = pd.read_csv("Resources/subcategory.csv")
df.head()

   subcategory_id  subcategory
0               1  food trucks
1               2         rock
2               3          web
3               4        plays
4               5  documentary

In [16]:
df = pd.read_csv("Resources/campaign.csv")
df.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,category_id,subcategory_id
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,2020-02-13 06:00:00,2021-03-01 06:00:00,1,1
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,2021-01-25 06:00:00,2021-05-25 05:00:00,2,2
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,2020-12-17 06:00:00,2021-12-30 06:00:00,3,3
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,2021-10-21 05:00:00,2022-01-17 06:00:00,2,2
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,2020-12-21 06:00:00,2021-08-23 05:00:00,4,4

In [18]:
df = pd.read_csv("Resources/contacts.csv")
df.head()

   contact_id first_name last_name                         email
0        4661    Cecilia   Velasco  cecilia.velasco@rodrigues.fr
1        3765    Mariana     Ellis       mariana.ellis@rossi.org
2        4187      Sofie     Woods       sofie.woods@riviere.com
3        4941   Jeanette  Iannotti   jeanette.iannotti@yahoo.com
4        2199     Samuel   Sorgatz      samuel.sorgatz@gmail.com

In [19]:
df.to_sql("crowdfunding_db", schema="public", con=engine, index=False, if_exists="append", method="multi")

1000